* {
  margin: 0;
  padding: 0;
}

.Navbar2 {
  display: flex;
  justify-content: end;
  gap: 1rem;
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
}

.Navbar1 {
  letter-spacing: 1px;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.P {
  margin-top: 1rem;
}

.Off {
  height: auto;
  width: auto;
}
.Abso {
  position: absolute;
  top: 0;
  padding: 1rem;
  height: 20%;
  width: 100%;
}

.Navbar-Border {
  border-radius: 2rem;
  background-color: lightblue;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.BgVideo {
  height: 100vh;
  width: 100%;
}
.UkuranBg {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.Color {
  background-color: LightGray;
}

.Font {
  font-size: 0.655rem;
}

.Trending {
  position: absolute;
  top: 0;
  margin-top: 100vh;
  padding-left: 2rem;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

.Card {
  height: 52vh;
}
.Card-Tittle {
  display: flex;
  justify-content: center;
}

.Border-Card {
  border: 2px solid;
  padding: 0;
  border-color: white;
}

.Content {
  position: absolute;
  top: 0;
  margin-top: 110vh;
  height: 100%;
  width: 100%;
}

.Content1 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  margin-bottom: 3rem;
}

.Our {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.bgft {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: black;
}
.form {
  position: absolute;
  margin-top: 350vh;
  top: 0;
}

.Welcome {
  position: absolute;
  top: 0;
  margin-top: 43vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 255);
  text-shadow: 2px 2px white;
  font-style: italic;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: Tahoma, Verdana, sans-serif;
  letter-spacing: 2px;
}

.Nonton {
  position: absolute;
  top: 0;
  margin-top: 52vh;
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 255);
  text-shadow: 2px 2px white;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.7rem;
  font-family: Tahoma, Verdana, sans-serif;
  letter-spacing: 3px;
}

.Bg2 {
  width: 100%;
  height: 100vh;
}

.ContentGenre {
  position: absolute;
  top: 0;
  margin-top: 207vh;
  padding: 2rem;
  height: 100%;
  width: 100%;
}
.Genres {
  position: absolute;
  top: 0;
  margin-top: 202vh;
  padding-left: 1rem;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

.Action {
  height: 100%;
  gap: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.Action2 {
  margin-top: 2rem;
  height: 100%;
  gap: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.BgR {
  height: 100vh;
  width: 100%;
}

.Nav {
  display: grid;
  grid-template-columns: 2rem;
  gap: 2rem;
}
