* {
  margin: 0;
  padding: 0;
}

.Navbar2 {
  display: flex;
  justify-content: end;
  gap: 1rem;
  width: 100%;
  height: 100%;
  font-size: auto;
  font-family: "Times New Roman", Times, serif;
}

.Navbar1 {
  font-size: 2rem;
  font-weight: bold;
  font-size: auto;
  margin-left: 2rem;

  font-family: "Times New Roman", Times, serif;
}
.P {
  margin-top: 1rem;
}

.Off {
  height: auto;
  width: auto;
}
.Abso {
  position: absolute;
  top: 0;
  padding: 1rem;
  height: 20%;
  width: 100%;
}

.Navbar-Border {
  border-radius: 1rem;
  background-color: lightblue;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.BgVideo {
  height: 100vh;
  width: 100%;
}
.UkuranBg {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.Color {
  background-color: LightGray;
}

.Font {
  font-size: 0.655rem;
}

.Trending {
  position: absolute;
  top: 0;
  margin-top: 100vh;
  padding-left: 2rem;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

.Card {
  height: 52vh;
}
.Card-Tittle {
  display: flex;
  justify-content: center;
}

.Border-Card {
  border: 2px solid;
  padding: 0;
  border-color: white;
}

.Content {
  position: absolute;
  top: 0;
  margin-top: 110vh;
  height: 100%;
  width: 100%;
}

.Content1 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
  margin-bottom: 3rem;
}

.Our {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.bgft {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: black;
}
.form {
  position: absolute;
  margin-top: 300vh;
  top: 0;
}

.Welcome {
  position: absolute;
  top: 0;
  margin-top: 40vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 255);
  text-shadow: 2px 2px white;
  font-style: italic;
  font-weight: bold;
  font-size: 2.5rem;
  font-family: Tahoma, Verdana, sans-serif;
  letter-spacing: 2px;
  font-size: 5vw;
}

.Nonton {
  position: absolute;
  top: 0;
  margin-top: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 255);
  text-shadow: 2px 2px white;
  font-variant: small-caps;
  font-family: Tahoma, Verdana, sans-serif;
  letter-spacing: 3px;
  font-size: 5vw;
  font-weight: bold;
}

.Bg2 {
  width: 100%;
  height: 100vh;
}

.ContentGenre {
  position: absolute;
  top: 0;
  margin-top: 204vh;
  padding: 2rem;
  height: 100%;
  width: 100%;
}
.Genres {
  position: absolute;
  top: 0;
  margin-top: 202vh;
  padding-left: 1.5rem;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

.BgR {
  height: 100vh;
  width: 100%;
}

.Nav {
  display: grid;
  grid-template-columns: 2rem;
  gap: 2rem;
}

.Action4 {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
  width: 100%;
}
* {
  box-sizing: border-box;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 20%;
  vertical-align: middle;
  padding: 0 7px;
  border-radius: 5px;
}
.column img {
  margin-top: 8px;
  width: 100%;
  border: 2px solid white;
  border-radius: 6px;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 6rem;
    max-width: 100%;
    max-height: auto;
  }
}
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 50%;
    max-width: 100%;
    flex: 6rem;
    max-height: auto;
  }
}
