* {
  margin: 0;
  padding: 0;
}

.Navbar2 {
  display: flex;
  justify-content: end;
  gap: 1rem;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (max-width: 600px) {
  .Navbar1 {
    font-size: 2px;
  }
  .Navbar2 {
    font-size: 1rem;
  }
}
.Navbar1 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

.Off {
  height: auto;
  width: auto;
}
.Abso {
  position: absolute;
  top: 0;
  padding: 1rem;
  height: 20%;
 position: fixed;
  top: 0;  
  width: 100%;
}

.Navbar-Border {
  position:relative;
  border-radius: 1rem;
  color: white;
  background-color: #144366;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.BgVideo {
  height: 100vh;
  width: 100%;
}
.UkuranBg {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.Color {
  background-color: LightGray;
}

.Font {
  font-size: 0.655rem;
}

.Trending {
  padding-left: 2rem;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

.Card {
  height: 52vh;
}

.Border-Card {
  border: 2px solid;
  padding: 0;
  border-color: white;
}

.Content {
  height: 100%;
  width: 100%;
  background-color: #103551;
}
@media screen and (max-width: 600px) {
  .Content1 {
    -ms-flex: 50%;
    max-width:100% ;
    flex: 6rem;
  }
}

.Our {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.bgft {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: black;
}
.form {
  position: absolute;
  margin-top: 300vh;
  top: 0;
}

.Welcome {
  position: absolute;
  top: 0;
  margin-top: 45vh;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  color: #69aadb;
  text-shadow: 2px 2px white;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  font-family: Tahoma, Verdana, sans-serif;
  letter-spacing: 1px;
}

.Nonton {
  position: absolute;
  top: 0;
  margin-top: 52vh;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #3e92d1;
  text-shadow: 2px 2px white;
  font-variant: small-caps;
  font-family: Tahoma, Verdana, sans-serif;
  letter-spacing: 3px;
  font-size: 1.6rem;
  font-weight: bold;
}

.Bg2 {
  width: 100%;
  height: 100vh;
}

.ContentGenre {
  padding: 5rem;
  height: 100%;
  width: 100%;
  background-color: #4c4c93;
}
.Genres {
  padding-bottom: 2rem;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

.BgR {
  height: 100vh;
  width: 100%;
}

.Nav {
  display: grid;
  grid-template-columns: 5rem;
  gap: 2rem;
  margin-bottom: 1rem;
}

.Action4 {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 4px;
  width: 100%;
}
* {
  box-sizing: border-box;
}
.Content1 {
  display: -ms-flexbox;
  margin-top: 2rem;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  margin-top: 1rem;
  max-width: 20%;
  vertical-align: middle;
  padding: 0 7px;
  border-radius: 5px;
  width: 15rem;
  height: 100%;
}
.column img {
  margin-top: 2px;
  width: 100%;
  border: 2px solid white;
  border-radius: 6px;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 6rem;
  height: 100%;
    max-width:20rem;
    max-height: 100%;
  }
  svg {
    max-width: 100%;
    max-height: auto;
  }
}
@media screen and (max-width: 800px) {
  .Polan {
    display: flex;
    justify-content: center;
    flex: 6rem;
    -ms-flex: 50%;
    max-width:20rem;
    max-height: 100%;
  
  }
}
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 50%;
    max-width:20rem;
    flex: 6rem;
 
    height: 20rem;
    max-height: 15rem;
  }
}
@media screen and (max-width: 600px) {
  .Polan {
    -ms-flex: 50%;
    max-width:20rem;
    flex: 6rem;
 padding: 1rem;
    
  }
}
@media screen and (max-width: 600px) {
  .Welcome {
    font-size: 22px;
  }
}
@media screen and (max-width: 600px) {
  .Nonton {
    font-size: 22px;
  }
}

.Fotter {
  padding: 2rem;
  display: flex;
  justify-content: center;
  width: auto;
  margin-bottom: 15rem;
}
.Fotter2 {
  height: 100%;
  width: 40rem;
}
.Contant {
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top: 8rem;

  width: auto;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  letter-spacing: 1px;
}

.Fot {
  background-color: #00004c;
  margin-top: 2rem;
  color: white;
  height: 100%;
}

.ButtonP {
  display: flex;
  justify-content: center;
}

.Rating {
  display: flex;
  justify-content: end;  
  align-items: center;
  text-align: center;
 gap: 4px;
}
.ButR{
  display: flex;
  justify-content: center;

}